.weather-info-container {
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 1rem 0 3rem 0;
}

.weather-info-container > * {
  margin: 0;
}

.weather-info-container > p {
  font-size: 1.5rem;
  font-weight: 500
}

.weather-info-container > img {
  max-width: 100px;
}

.max-min-container {
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 20px;
}
